<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:quotes.properties"/>

    <bean class="quoters.InjectRandomIntAnnotationBeanPostProcessor"/>
    <bean class="quoters.BeanDefinitionAnalyzerBeanFactoryPostProcessor"/>
    <!--<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    <context:annotation-config/>
    <bean id="robot" class="quoters.TalkingRobotImpl">
        <property name="quoters">
            <list>
                <ref bean="shakespearQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>
    <bean id="shakespearQuoter" class="quoters.ShakespearQuoter">
        <property name="message" value="${shake}"/>
    </bean>


    <bean id="terminatorQuoter" class="quoters.TerminatorQuoter" destroy-method="killAll">
        <constructor-arg index="0" value="42" type="int"/>
        <constructor-arg index="1" value="73"/>
        <property name="messages">
            <list>
                <value>I'll be back</value>
                <value>Astalavista baby</value>
            </list>
        </property>
    </bean>
</beans>